<po-page-dynamic-search (p-quick-search)="onSearch($event)" [p-actions]="pageActions"
  (p-change-disclaimers)="onSearch($event)" p-title="Invoices">
  @if(isLoading()){
  <po-loading-overlay [p-screen-lock]="isLoading()" [hidden]="!isLoading()" p-text="Processando"></po-loading-overlay>
  } @else {
  <po-container [p-no-border]="true">
    <div>
      <po-table [p-columns]="tableColumns" [p-actions]="tableActions" [p-actions-right]="true" [p-items]="tableItems()"
        [p-hide-columns-manager]="true" (p-show-more)="onShowMore()" [p-show-more-disabled]="!hasNext()"
        p-container="shadow">
        <ng-template p-table-cell-template let-column="column" let-row="row">
          @if(column.property === 'exporter.name'){
          <span>{{row.exporter?.name?.toUpperCase()}}</span>
          }
        </ng-template>
      </po-table>
    </div>



  </po-container>
  }

</po-page-dynamic-search>
<po-modal #exportModal p-title="Exportar Invoice" p-size="sm">
  <po-table [p-actions-right]="true" [p-hide-columns-manager]="true" [p-columns]="[{property: 'model', label: 'Modelo'}]" [p-items]="exportItems"
  [p-actions]="exportActions"></po-table>
</po-modal>
