<po-modal p-click-out="false" [p-title]="title" [p-primary-action]="primaryAction"
  [p-secondary-action]="secundaryAction">
  <form [formGroup]="form">
    <po-stepper >
      <!--  [p-can-active-next-step]="canActiveNextStep.bind(this)" -->
      <po-step p-label="Informações" style="margin-bottom: 100px;" [p-can-active-next-step]="canActiveNextStep.bind(this)">
      <po-divider p-label="Dados"></po-divider>
        <div class="po-row">
          <po-combo [p-clean]="true" class="po-md-6" p-label="Exportador" p-placeholder="- selecione -" [p-filter-service]="exporterService"
            formControlName="exporter"></po-combo>
          <po-combo [p-clean]="true" class="po-md-6" p-label="Cliente - Importador" p-placeholder="- selecione -" [p-filter-service]="customerService"
            formControlName="import_customer"></po-combo>
          <po-combo [p-clean]="true" class="po-md-6" p-label="Cliente - Comprador" p-placeholder="- selecione -" [p-filter-service]="customerService"
            formControlName="buyer_customer" [p-optional]="true"></po-combo>
          <po-input class="po-md-3" p-label="Número" p-placeholder="Número da invoice" formControlName="number"></po-input>
          <po-datepicker class="po-md-4" p-label="Data" p-placeholder="Data da Invoice" formControlName="date">
          </po-datepicker>
          <po-input class="po-md-3" p-label="De" p-placeholder="Lugar de origem" formControlName="from"></po-input>
          <po-input class="po-md-3" p-label="Para" p-placeholder="Lugar de destino" formControlName="to"></po-input>
          <po-input class="po-md-3" p-label="Modelo de Transporte" p-placeholder="Modelo de transporte" formControlName="model_transport"></po-input>
          <po-input class="po-md-3" p-label="Tipo de Pacote" p-placeholder="Tipo de pacote" formControlName="kind_package"></po-input>
          <po-input class="po-md-3" p-label="Pagamento" p-placeholder="Pagamento" formControlName="payment"></po-input>
          <po-decimal class="po-md-2" p-label="Valor Frete" p-placeholder="Valor do frete" formControlName="shipping_value">
          </po-decimal>
        </div>
      <po-divider p-label="Dados Bancários"></po-divider>
        @if(bankData.controls.length>0){
          <po-table
          [p-columns]="columns"
          [p-actions]="tableActions"
          [p-items]="bankData.controls"
          p-container="shadow"
          [p-striped]="true"
          [p-actions-right]="true"
          [p-hide-columns-manager]="true"
        >
          <ng-template p-table-cell-template let-column="column" let-row="row" >
            @if(column.property === 'desc'){
              <po-input
                style="padding: 5px;"
                p-placeholder="Descrição"
                [ngModel]="row.get('desc').value"
                (ngModelChange)="row.get('desc').setValue($event)"
                [ngModelOptions]="{standalone: true}"
              ></po-input>
            }
            @if(column.property === 'header'){
              <po-input
                style="padding: 5px;"
                p-placeholder="Cabeçalho"
                [ngModel]="row.get('header').value"
                (ngModelChange)="row.get('header').setValue($event)"
                [ngModelOptions]="{standalone: true}"
              ></po-input>
            }
          </ng-template>
        </po-table>
        }
        <div class="po-row" style="display: flex; justify-content: center; padding: 20px;">
          <po-button p-label="Adicionar Dados" p-type="primary" (p-click)="addBankData()"></po-button>
        </div>
      </po-step>
      @if(items.length < 1){
        <po-step p-label="Anexo" >
          <div class="po-row" style="display: flex; flex-direction: row; justify-content: center;">
            <div class="po-row" style="margin-top: 30px; display: flex; justify-content: center; gap: 20px">
              <po-button (p-click)="fileInput.click()" p-label="Anexar Arquivo"></po-button>
              <po-button (p-click)="downloadModel()" p-label="Baixar Modelo"></po-button>
              <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" accept=".xlsx" />
            </div>
          </div>
          @if(fileUpload){
          <div class="po-row" style="display: flex; flex-direction: row; justify-content: center;">
            <po-info p-label="Arquivo anexado" [p-value]="fileUpload.name + ' - ' + (fileUpload.size/1048576 | number: '1.2-2') + ' MB'"> </po-info>
          </div>

          }
        </po-step>

      } @else {
        <po-step p-label="Produtos" style="margin-bottom: 100px;">
          <po-table [p-hide-columns-manager]="true" [p-columns]="productsColumns" [p-items]="items"></po-table>

        </po-step>
      }
    </po-stepper>
  </form>

</po-modal>
