<po-modal p-click-out="false" p-size="sm" p-title="Nova Senha" [p-primary-action]="primaryAction"
  [p-secondary-action]="secundaryAction">
  <form [formGroup]="form">
      <div class="po-row">
        <po-password class="po-md-9" p-label="Nova senha" p-icon="ph ph-lock" p-placeholder="Crie uma senha"
          formControlName="password"
          p-error-pattern="A senha deve ter pelo menos 6 caracteres, incluir pelo menos uma letra maiúscula, uma letra minúscula, um número e um caractere especial.">
        </po-password>
        <po-password class="po-md-9" p-label="Confirme a senha" p-icon="ph ph-lock"
          formControlName="confirmPassword">
        </po-password>
      </div>

  </form>

</po-modal>
